.users-wrap {
    border: 1px solid saddlebrown;
    padding: 1rem;   
}


/*?Почему класс user-iter не отображается локально?*/
.user-iter{
    background-color :rgb(125, 163, 179);
    border: 1px solid brown;
}
